[submodule "lib/spdlog/spdlog"]
	path = lib/spdlog/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Renderer3D"]
	path = Renderer3D
	url = https://github.com/TilakChad/Renderer3D.git
[submodule "lib/Renderer3d/Renderer3D"]
	path = lib/Renderer3d/Renderer3D
	url = https://github.com/TilakChad/Renderer3D.git
